<p>event-binding2 works!</p>

<!-- <label for = ''>Number1:: &nbsp;&nbsp;</label>
<input #num1 type = "text" class = "form-control w-25" placeholder="Enter the Num1"> <br><br>
<label for = "">Number2:: &nbsp;&nbsp;</label>
<input #num2 type="text" class = "form-control w-25" placeholder="Enter the Num2"><br><br>
<button (click) = "onAddition(num1.value,num2.value)" class =" btn btn-success">Addition</button><br><br>

<input type="text" [value]="result" class="form-control w-25" placeholder="Result"> -->




